.container {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    color: var(--bege);

    .content {
        width: 100%;
        max-width: 980px;
        display: flex;
        align-items: center;
        gap: 1rem;

        .image {

            a {
                height: 42px;
                width: 42px;
            
                img {
                    width: 42px;
                }
            }
        }

        .brand {
            font-size: 2rem;
            font-weight: 700;
        }

        .subtitle {
            color: var(--white);
            font-size: 1rem;
        }

    }
}

@media (max-width: 1200px) {
    .container {
        .content {
            justify-content: space-around;
            .subtitle {
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        .content {
            .subtitle {
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        .content {
            justify-content: center;

            .subtitle {
                font-size: 1rem;
            }
        }
    }

}