main.container {
    width: 100%;
    margin: 20px 0;

    .text1 {
        font-size: 2.5rem;
        color: var(--dark);
        text-align: center;
        font-weight: 700;
        margin: 0 40px;
    }

    .scale {
        margin: 20px 0;
    }

    .sizer {
        display: flex;
        align-items: center;
        margin: 0 40px;

        img {
            width: 50px;
            height: 50px;
        }

        &:hover {
            cursor: pointer;
        }

        input {
            width: 14.2rem;
            border: 0;
            background-color: var(--white);
            height: auto;
            font-size: 4rem;
            font-weight: 700;
            text-align: center;
            color: var(--brown);
        }
    }

    .text2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--brown);
        text-align: center;
    }

    .password {
        background-color: var(--bege);
        width: 100%;
        height: 40px;
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 5px;
    }

    .copyButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
        height: 40px;
        font-size: 2.2rem;
        font-weight: 700;
        cursor: pointer;
        background-color: var(--gray);
        margin-top: 10px;
        color: var(--white);
    }
}