.container {
    padding: 1rem;
    color: var(--dark);

    .smallText {
        max-width: 768px;
        padding: 1rem 0;
        text-align: center;
        color: var(--red);
        height: 100px;

        transition: color 1.5s;
    }

    .smallTextSuccessMessage {
        max-width: 768px;
        padding: 1rem 0;
        font-weight: 700;
        text-align: center;
        color:forestgreen;
        height: 100px;

        transition: color 1.5s;
    }

    .content {
        max-width: 768px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .label {
            font-size: 2rem;
            font-weight: 700;
        }

        .sizer {
            max-width: 768px;
            display: flex;
            align-items: center;

            button {
                display: flex;
                align-items: center;
                background-color: var(--white);
                border: 0;
            }

            input {
                max-width: 768px;
                border: 0;
                width: 3.5rem;
                font-size: 2rem;
                text-align: center;
                font-weight: 700;
            }
        }
    }

    .displayPassword {
        margin-top: 2rem;
        padding: 1rem 0;
        font-size: 1.5rem;
        letter-spacing: 3px;
        text-align: center;
        font-weight: 700;
        background-color: var(--bege);
    }

    .copyButton {
        
        button {
            background-color: var(--gray);
            border: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;
            padding: 1rem;
            color: var(--bege);
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 576px) {
    .container {
    
        .smallText {
            font-size: 1.2rem;
        }
    
        .smallTextSuccessMessage {
            font-size: 2rem;
        }
    }
   
}

@media (max-width: 768px) {
    .container {
    
        .smallText {
            font-size: 1.5rem;
        }
    
        .smallTextSuccessMessage {
            font-size: 2rem;
        }
    }
}   

@media (max-width: 1200px) {
    .container {
    
        .smallText {
            font-size: 1.5rem;
        }
    
        .smallTextSuccessMessage {
            font-size: 2rem;
        }
    }
}