* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #142433;
    --gray: #295264;
    --white: #FFFFFF;
    --bege: #fad9a6;
    --brown: #89373d;
    --red: #bd2f28;
}

html {
    font-family: "Nunito", sans-serif;
}

body, input, textarea, button, select {
    font: 400 1rem "Nunito", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}
